@font-face {
  font-family: "IndustrialGothicBannerStd";
  src: url('../fonts/252467_0_0.eot');
  src: url('../fonts/252467_0_0.eot?#iefix') format('eot'), url('../fonts/252467_0_0.woff') format('woff'), url('../fonts/252467_0_0.ttf') format('truetype');
}

.clearfix {
  zoom: 1;
}
.clearfix:after {
  content: "\0020";
  display: table;
  clear: both;
}

.hidden {
  display: none !important;
  visibility: hidden;
}

.styletile .images ul li img {
  max-width: 100%;
}

.ie6 .styletile #page, .ie7 .styletile #page, .ie8 .styletile #page {
  *zoom: 1;
  max-width: 24em;
  _width: 24em;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: auto;
  margin-right: auto;
}
.ie6 .styletile #page:after, .ie7 .styletile #page:after, .ie8 .styletile #page:after {
  content: "";
  display: table;
  clear: both;
}
@media (max-width: 20.0625em) {
  .styletile #page {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
  }
  .styletile #page:after {
    content: "";
    display: table;
    clear: both;
  }
}
@media (min-width: 20.0625em) and (max-width: 30.0625em) {
  .styletile #page {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
  }
  .styletile #page:after {
    content: "";
    display: table;
    clear: both;
  }
}
@media (min-width: 30.0625em) and (max-width: 45.0625em) {
  .styletile #page {
    padding-left: 1em;
    padding-right: 1em;
    margin-left: auto;
    margin-right: auto;
  }
  .styletile #page:after {
    content: "";
    display: table;
    clear: both;
  }
  .styletile #page header .client-id {
    width: 48.27586%;
    float: left;
    margin-right: 3.44828%;
  }
  .styletile #page header aside {
    width: 48.27586%;
    float: right;
    margin-right: 0;
  }
  .styletile #page #main .text-examples {
    width: 48.27586%;
    float: left;
    margin-right: 3.44828%;
  }
  .styletile #page #main .graphic-examples {
    width: 48.27586%;
    float: right;
    margin-right: 0;
  }
}
@media (min-width: 45.0625em) and (max-width: 64.0625em) {
  .styletile #page {
    padding-left: 1em;
    padding-right: 1em;
    margin-left: auto;
    margin-right: auto;
  }
  .styletile #page:after {
    content: "";
    display: table;
    clear: both;
  }
  .styletile #page header .client-id {
    width: 61.53846%;
    float: left;
    margin-right: 2.5641%;
  }
  .styletile #page header aside {
    width: 35.89744%;
    float: right;
    margin-right: 0;
  }
  .styletile #page #main .text-examples {
    width: 48.71795%;
    float: left;
    margin-right: 2.5641%;
  }
  .styletile #page #main .graphic-examples {
    width: 48.71795%;
    float: right;
    margin-right: 0;
  }
}
@media (min-width: 64.0625em) {
  .styletile #page {
    max-width: 59em;
    padding-left: 1em;
    padding-right: 1em;
    margin-left: auto;
    margin-right: auto;
  }
  .styletile #page:after {
    content: "";
    display: table;
    clear: both;
  }
  .styletile #page header .client-id {
    width: 66.10169%;
    float: left;
    margin-right: 1.69492%;
  }
  .styletile #page header aside {
    width: 32.20339%;
    float: right;
    margin-right: 0;
  }
  .styletile #page #main .text-examples {
    width: 49.15254%;
    float: left;
    margin-right: 1.69492%;
  }
  .styletile #page #main .graphic-examples {
    width: 49.15254%;
    float: right;
    margin-right: 0;
  }
}

.styletile .colors ul {
  list-style-type: none;
}
.styletile .colors ul, .styletile .colors ul li {
  margin: 0px;
  padding: 0px;
  display: inline;
}
.styletile .colors ul li {
  height: 120px;
  margin-bottom: 24px;
  border: 4px solid white;
  position: relative;
}
.styletile .colors ul li:after {
  position: relative;
  top: 102%;
  color: #78777b;
}
@media (max-width: 20.0625em) {
  .styletile .colors ul li {
    width: 44.44444%;
    float: left;
    margin-right: 11.11111%;
  }
  .styletile .colors ul li:nth-of-type(2n+2) {
    float: right;
    margin-right: 0;
  }
}
@media (min-width: 20.0625em) and (max-width: 30.0625em) {
  .styletile .colors ul li {
    width: 28.57143%;
    float: left;
    margin-right: 7.14286%;
  }
  .styletile .colors ul li:nth-of-type(3n+3) {
    float: right;
    margin-right: 0;
  }
}
@media (min-width: 30.0625em) and (max-width: 45.0625em) {
  .styletile .colors ul li {
    width: 28.57143%;
    float: left;
    margin-right: 7.14286%;
  }
  .styletile .colors ul li:nth-of-type(3n+3) {
    float: right;
    margin-right: 0;
  }
}
@media (min-width: 45.0625em) and (max-width: 64.0625em) {
  .styletile .colors ul li {
    width: 21.05263%;
    float: left;
    margin-right: 5.26316%;
  }
  .styletile .colors ul li:nth-of-type(4n+4) {
    float: right;
    margin-right: 0;
  }
}
@media (min-width: 64.0625em) {
  .styletile .colors ul li {
    width: 13.7931%;
    float: left;
    margin-right: 3.44828%;
  }
  .styletile .colors ul li:nth-of-type(6n+6) {
    float: right;
    margin-right: 0;
  }
}

.styletile .images ul {
  list-style-type: none;
}
.styletile .images ul, .styletile .images ul li {
  margin: 0px;
  padding: 0px;
  display: inline;
}
.styletile .images ul li {
  overflow: hidden;
  margin-bottom: 24px;
}
@media (min-width: 45.0625em) and (max-width: 64.0625em) {
  .styletile .images ul li {
    width: 47.36842%;
    float: left;
    margin-right: 5.26316%;
  }
  .styletile .images ul li:nth-of-type(2n+2) {
    float: right;
    margin-right: 0;
  }
}
@media (min-width: 64.0625em) {
  .styletile .images ul li {
    width: 48.27586%;
    float: left;
    margin-right: 3.44828%;
  }
  .styletile .images ul li:nth-of-type(2n+2) {
    float: right;
    margin-right: 0;
  }
}
