$default-media: all !default;
$default-feature: min-width !default;
$default-pair: width !default;

$force-all-media-type: false !default;
$to-ems: false !default;
$transform-resolutions: true !default;

$no-queries: false !default;
$no-query-fallbacks: false !default;

$base-font-size: 16px !default;

$settings: (
  'default media': $default-media,
  'default feature': $default-feature,
  'default pair': $default-pair,
  'force all media type': $force-all-media-type,
  'to ems': $to-ems,
  'transform resolutions': $transform-resolutions,
  'no queries': $no-queries,
  'no query fallbacks': $no-query-fallbacks,
  'base font size': $base-font-size,
) !default;

$internals: (
  'min max features': (
    'color',
    'color-index',
    'aspect-ratio',
    'device-aspect-ratio',
    'device-height',
    'device-width',
    'height',
    'monochrome',
    'resolution',
    'width',
  ),
  'string features': (
    'orientation',
    'scan',
    'color',
    'aspect-ratio',
    'device-aspect-ratio',
    'pointer',
    'luminosity',
  ),
  'media types': (
    'all',
    'braille',
    'embossed',
    'handheld',
    'print',
    'projection',
    'screen',
    'speech',
    'tty',
    'tv',
  ),
  'single string features': (
    'color',
    'color-index',
    'grid',
    'monochrome',
  ),
  'resolution features': (
    'device-pixel-ratio',
    'dpr',
    'resolution',
  ),
) !default;

@use './breakpoint/settings' with (
  $settings: $settings
);
@use './breakpoint/internals' with (
  $internals: $internals
);

@forward './breakpoint/breakpoint';
@forward './breakpoint/respond-to';
// @forward './breakpoint/respond-to' with (
//   $settings: $settings,
//   $internals: $internals
// );
