@import "compass";
@import "susy";
@import "breakpoint";
@import "modular-scale";
// @import "toolkit";
// add any others here;

@import "survivalkit/functions/all";
@import "survivalkit/variables/all";
@import "partials/01-variables/all";
@import "survivalkit/mixins/all";
// @import "survivalkit/reset/pixel-normalize";
@import "partials/02-mixins/custom";
@import "survivalkit/extend/helpers";
// @import "survivalkit/extend/sticky-footer";
// @import "survivalkit/reset/reset";
@import "partials/03-extend/all";
// @import "partials/04-base/all";
// @import "partials/05-layout/grids-susy";
// @import "partials/06-ui-patterns/common";
// @import "partials/06-ui-patterns/drupal-patterns";
// @import "your-design-here/design";
// @import "partials/08-media/print";


// Set up the layout for your site using your chosen grid framework

// Style Tile Grid
// define grid variables
$total-columns: 5;
$column-width: 4em;
$gutter-width: 1em;
$grid-padding: 1em;
$container-style: magic;

// define breakpoints in EMs
$bp-handheld: calc-em(321px, $base-font-size);
$bp-handheld-wide: calc-em(481px, $base-font-size);
$bp-tablet: calc-em(721px, $base-font-size);
$bp-desktop: calc-em(1025px, $base-font-size);

// define media layout variables
$media-layout-handheld: 2 $bp-handheld;
$media-layout-handheld-wide: $bp-handheld 3 $bp-handheld-wide;
$media-layout-medium: $bp-handheld-wide 6 $bp-tablet;
$media-layout-tablet: $bp-tablet 8 $bp-desktop;
$media-layout-desktop: $bp-desktop 12;

@import "susy";

// LAYOUT --------------------------------------------------------------
.styletile {
  #page {
    .ie6 &, .ie7 &, .ie8 & {
      @include container;
      @include susy-grid-backgrounds;
    }
    @include at-breakpoint($media-layout-handheld) {
      $container-style: fluid;
      $grid-padding: 0;
      @include container;
      @include susy-grid-backgrounds;
    }

    @include at-breakpoint($media-layout-handheld-wide) {
      $container-style: fluid;
      $grid-padding: 0;
      @include container;
      @include susy-grid-backgrounds;
    }

    @include at-breakpoint($media-layout-medium) {
      $grid-padding: 1em;
      $container-style: fluid;
      @include container;
      @include susy-grid-backgrounds;
      header {
        .client-id {
          @include span-columns(3, 6);
        }
        aside {
          @include span-columns(3 omega, 6);
        }
      }
      #main {
        .text-examples {
          @include span-columns(3, 6);
        }
        .graphic-examples {
          @include span-columns(3 omega, 6);
        }
      }
    }

    @include at-breakpoint($media-layout-tablet) {
      $grid-padding: 1em;
      $container-style: fluid;
      @include container;
      @include susy-grid-backgrounds;
      header {
        .client-id {
          @include span-columns(5, 8);
        }
        aside {
          @include span-columns(3 omega, 8);
        }
      }
      #main {
        .text-examples {
          @include span-columns(4, 8);
        }
        .graphic-examples {
          @include span-columns(4 omega, 8);
        }
      }
    }

    @include at-breakpoint($media-layout-desktop) {
      $grid-padding: 1em;
      $container-style: magic;
      @include container;
      @include susy-grid-backgrounds;
      header {
        .client-id {
          @include span-columns(8, 12);
        }
        aside {
          @include span-columns(4 omega, 12);
        }
      }
      #main {
        .text-examples {
          @include span-columns(6, 12);
        }
        .graphic-examples {
          @include span-columns(6 omega, 12);
        }
      }
    }
  }
}

// graphic examples

// colors
.styletile {
  .colors {
    ul {
      @include inline-list;
      li {
        height: $kit-baseline * 5;
        margin-bottom: $kit-baseline;
        border: 4px solid $white;
        position: relative;
        &:after {
          position: relative;
          top: 102%;
          color: $gray;
        }
        @include at-breakpoint($media-layout-handheld) {
          @include span-columns(1, 2);
          &:nth-of-type(2n+2) {
            @include omega;
          }
        }

        @include at-breakpoint($media-layout-handheld-wide) {
          @include span-columns(1, 3);
          &:nth-of-type(3n+3) {
            @include omega;
          }
        }

        @include at-breakpoint($media-layout-medium) {
          @include span-columns(1, 3);
          &:nth-of-type(3n+3) {
            @include omega;
          }
        }

        @include at-breakpoint($media-layout-tablet) {
          @include span-columns(1, 4);
          &:nth-of-type(4n+4) {
            @include omega;
          }
        }

        @include at-breakpoint($media-layout-desktop) {
          @include span-columns(1, 6);
          &:nth-of-type(6n+6) {
            @include omega;
          }
        }
      }
    }
  }
}

.styletile {
  .images {
    ul {
      @include inline-list;
      li {
        overflow: hidden;
        margin-bottom: $kit-baseline;
        @include at-breakpoint($media-layout-tablet) {
          @include span-columns(2, 4);
          &:nth-of-type(2n+2) {
            @include omega;
          }
        }

        @include at-breakpoint($media-layout-desktop) {
          @include span-columns(3, 6);
          &:nth-of-type(2n+2) {
            @include omega;
          }
        }

        img {
          @extend %constrain-to-parent;
        }
      }
    }
  }
}
