@use "sass:math";
@use 'sass:list';
@use 'sass:meta';
@use '../../settings';

@function build($resolution) {
  $length: list.length($resolution);

  $output: ();

  @if $length == 2 {
    $feature: '';
    $value: '';

    // Find which is number
    @if meta.type-of(list.nth($resolution, 1)) == 'number' {
      $value: list.nth($resolution, 1);
    }
    @else {
      $value: list.nth($resolution, 2);
    }

    // Determine min/max/standard
    @if list.index($resolution, 'min-resolution') {
      $feature: 'min-';
    }
    @else if list.index($resolution, 'max-resolution') {
      $feature: 'max-';
    }

    $standard: '(#{$feature}resolution: #{$value})';

    // If we're not dealing with dppx,
    @if math.unit($value) != 'dppx' {
      $base: 96dpi;
      @if math.unit($value) == 'dpcm' {
        $base: 243.84dpcm;
      }
      // Write out feature tests
      $webkit: '';
      $webkit: '(-webkit-#{$feature}device-pixel-ratio: #{math.div($value, $base)})';
      // Append to output
      $output: list.append($output, $standard, space);
      @if settings.get('transform resolutions') == true {
        $output: list.append($output, $webkit, space);
      }
    }
    @else {
      $webkit: '';
      $webkit: '(-webkit-#{$feature}device-pixel-ratio: #{math.div($value, 1dppx)})';
      $fallback: '(#{$feature}resolution: #{math.div($value, 1dppx) * 96dpi})';
      // Append to output
      $output: list.append($output, $standard, space);

      @if settings.get('transform resolutions') == true {
        $output: list.append($output, $webkit, space);
        $output: list.append($output, $fallback, space);
      }
    }

  }

  @return $output;
}
