/*
 * 'OR' mediaqueries.
 * tests separated by commas
 * $basic-or : 500px, tv 700px color;
 */
@media (min-width: 500px), tv and (min-width: 700px) and (color) {
  .basic-or {
    content: '$basic-or';
    content: '@media (max-width: 700px) and (orientation: portrait)';
  }
}
@media (min-width: 500px), tv and (min-width: 700px) and (color) {
  .basic-or {
    content: '$basic-or';
    content: '@media (max-width: 700px) and (orientation: portrait)';
  }
}

/* $breakpoint-to-ems: true; */
@media (min-width: 31.25em), tv and (min-width: 43.75em) and (color) {
  .basic-or-to-ems {
    content: '$basic-or';
    content: '@media (max-width: 43.75em) and (orientation: portrait)';
  }
}
