/*
 * Media features (ie. tv)
 * $simple-media : tv;
 * $media-plus-default : tv 500px;
 * $media-plus-fence : tv 500px 700px;
 */
@media tv {
  .media {
    content: '$simple-media';
    content: '@media tv';
  }
}
@media tv and (min-width: 500px) {
  .media {
    content: '$media-plus-default';
    content: '@media not tv and (min-width: 500px)';
  }
}
@media tv and (min-width: 500px) and (max-width: 700px) {
  .media {
    content: '$media-plus-fence';
    content: '@media tv and (min-width: 500px) and (max-width: 700px)';
  }
}
