/*
 * BREAKPOINT TESTS
 */
/*
 * Assume $breakpoint-default-feature
 * if only a number
 * $single-pixel-value: 500px;
 * $single-em-value: 30em;
 */
/* $breakpoint-to-ems: true; */
/*
 * Single value with feature
 * $feature-first : height 500px;
 * $value-first : 500px height;
 * $arbitrary-feature : lion 500px;
 * $feature-value-both-strings : portrait orientation;
 */
/* $breakpoint-to-ems: true; */
/*
 * Set min-width/max-width
 * if both values are numbers
 * $min-max-default-feature : 500px 700px;
 */
/* $breakpoint-to-ems: true; */
/*
 * Set min/max of feature
 * if there are two numbers and a feature
 * $feature-min-max : height 300px 700px;
 * $min-max-feature : 300px 700px height;
 * $arbitrary-feature-min-max : lion 300px 700px;
 */
/* $breakpoint-to-ems: true; */
/*
 * Multidimensional lists,
 * assume each item is a feature value pair
 * $multidimensional : max-width 700px orientation portrait;
 */
/* $breakpoint-to-ems: true; */
.lte-ie9 #no-query {
  content: "@media all and (min-width: 500px)";
  content: '.lte-ie9 #no-query {}';
}

.no-mq #advanced {
  content: "@media only screen and (min-width: 500px) and (max-resolution: 144dpi), @media only screen and (min-width: 500px) and (-webkit-max-device-pixel-ratio: 1.5), (min-width: 700px) and (-webkit-min-device-pixel-ratio: 1.4), (min-width: 700px) and (min--moz-device-pixel-ratio: 1.4), (min-width: 700px) and (min-resolution: 1.4dppx), (min-width: 700px) and (min-resolution: 134.4dpi)";
}
