/*
 * BREAKPOINT TESTS
 */
/*
 * Assume $breakpoint-default-feature
 * if only a number
 * $single-pixel-value: 500px;
 * $single-em-value: 30em;
 */
@media (min-width: 500px) {
  .breakpoint-default-feature {
    content: '$single-pixel-value';
    content: '@media (min-width: 500px)';
  }
}
@media (min-width: 30em) {
  .breakpoint-default-feature {
    content: '$single-em-value';
    content: '@media (min-width: 30em)';
  }
}

/* $breakpoint-to-ems: true; */
@media (min-width: 31.25em) {
  .breakpoint-default-feature-to-ems {
    content: '$single-pixel-value';
    content: '@media (min-width: 31.25em)';
  }
}
@media (min-width: 30em) {
  .breakpoint-default-feature-to-ems {
    content: '$single-em-value';
    content: '@media (min-width: 30em)';
  }
}

/*
 * Single value with feature
 * $feature-first : height 500px;
 * $value-first : 500px height;
 * $arbitrary-feature : lion 500px;
 * $feature-value-both-strings : portrait orientation;
 */
@media (height: 500px) {
  .feature-value-pair {
    content: '$feature-first';
    content: '@media (height: 500px)';
  }
}
@media (height: 500px) {
  .feature-value-pair {
    content: '$value-first';
    content: '@media (height: 500px)';
  }
}
@media (lion: 500px) {
  .feature-value-pair {
    content: '$arbitrary-feature';
    content: '@media (lion: 500px)';
  }
}
@media (orientation: portrait) {
  .feature-value-pair {
    content: '$feature-value-both-strings';
    content: '@media (orientation: portrait)';
  }
}

/* $breakpoint-to-ems: true; */
@media (height: 31.25em) {
  .feature-value-pair-to-ems {
    content: '$feature-first';
    content: '@media (height: 31.25em)';
  }
}
@media (height: 31.25em) {
  .feature-value-pair-to-ems {
    content: '$value-first';
    content: '@media (height: 31.25em)';
  }
}
@media (lion: 31.25em) {
  .feature-value-pair-to-ems {
    content: '$arbitrary-feature';
    content: '@media (lion: 31.25em)';
  }
}

/*
 * Set min-width/max-width
 * if both values are numbers
 * $min-max-default-feature : 500px 700px;
 */
@media (min-width: 500px) and (max-width: 700px) {
  .min-max-default-feature {
    content: '$min-max-default-feature';
    content: '@media (min-width: 500px) and (max-width: 700px)';
  }
}

/* $breakpoint-to-ems: true; */
@media (min-width: 31.25em) and (max-width: 43.75em) {
  .min-max-default-feature-to-ems {
    content: '$min-max-default-feature';
    content: '@media (min-width: 31.25em) and (max-width: 43.75em)';
  }
}
