//////////////////////////////
// Private Breakpoint Variables
//////////////////////////////
$private-breakpoint-context-holder: () !default;
$private-breakpoint-context-placeholder: 0;

//////////////////////////////
// Breakpoint Get Context
// $feature: Input feature to get it's current MQ context. Returns false if no context
//////////////////////////////
@function breakpoint-get-context($feature) {
  @each $context in $private-breakpoint-context-holder {
    @if $feature == nth($context, 1) {
      @return nth($context, 2);
    }
  }

  @return false;
}

//////////////////////////////
// Private function to set context
//////////////////////////////
$bar: null;
@function private-breakpoint-set-context($feature, $value) {
  @if $value == 'monochrome' {
    $feature: 'monochrome';
  }
  $placeholder-plus-one: ($private-breakpoint-context-placeholder + 1);

  // $holder: ($feature $value);
  // $private-breakpoint-context-holder: append($private-breakpoint-context-holder, $holder);

  // $builder: null;
  $holder: null;
  // What position are we?
  @if $private-breakpoint-context-placeholder == 1 {
    $holder: ($feature $value);
    $private-breakpoint-context-holder: append($private-breakpoint-context-holder, $holder, comma);
    @return true;
  } @else {
    // Has $feature been used?
    // $rebuild-context: false;
    $feature-used: false;
    @each $context in $private-breakpoint-context-holder {
      @if nth($context, 1) == $feature {
        $feature-used: $context;
        // yes:
        // $rebuild-context: true;
        //
        //
        //
        //
        //
        //
        //
        //
        //
        //
      }
      // @else {
      //   // add 'false' placeholders if needed
      //
      //
      //
      //
      //
      //
      //
      //
      // }
    }
    @if $feature-used != false {
      @debug "THE FEATURE HAS BEEN USED BEFORE";
      $holder: $feature;
      @for $i from 2 through $placeholder-plus-one {
        @if $i <= length($feature-used)  {
          $holder: append($holder, nth($feature-used, $i), space);
        } @elseif $i < $placeholder-plus-one {
          $holder: append($holder, false, space);
        } @else {
          $holder: append($holder, $value, space);
        }
      }
    }
    @elseif $feature-used == false {
      @debug "THE FEATURE HAS NOT BEEN USED BEFORE";
      $holder: $feature;
      @for $i from 2 through $placeholder-plus-one {
        @if $i < $placeholder-plus-one {
          $holder: append($holder, false, space);
        } @else {
          $holder: append($holder, $value, space);
        }
      }
    }
    @debug $holder;


    // rebuild context
    // @if $rebuild-context == true {
    $rebuild: null;
    @if $feature-used != false {
      @each $context in $private-breakpoint-context-holder {
        @debug $context;
        @if nth($context, 1) == nth($holder, 1) {
          $rebuild: append($rebuild, $holder, comma);
        } @else {
          $rebuild: append($rebuild, $context, comma);
        }
      }
    } @else {
      $rebuild: append($private-breakpoint-context-holder, $holder, comma);
    }

    @debug $rebuild;
    $private-breakpoint-context-holder: $rebuild;
    @debug $private-breakpoint-context-holder;
    // }



        // grab context($feature);
        // rebuild context
        // create a swap context variable
        // loop thru context
        // is this feature the same as the current feature?
          // yes: recreate this feature list
            // recreate this feature, adding 'false' for empty iterations
          // no: bring the correstponding item from swap
      // no:
        // create a context for this feature, adding 'false' for empty iterations

  }



  // @if length($private-breakpoint-context-holder) > 1 {
  // }

  @return true;
}

//////////////////////////////
// Private function to reset context
//////////////////////////////
@mixin private-breakpoint-reset-contexts {
  $private-breakpoint-context-holder: ();
}
