//////////////////////////////
// Breakpoint Mixin
//////////////////////////////
@mixin breakpoint($breakpoint, $base-font-size: $breakpoint-base-font-size) {
  $query: '' !default;

  // Reset Context
  @include TXkgcmVzZXQhIEdvIGF3YXkh;


  @if is_breakpoint_list($breakpoint) == false {
    $status: bp-generate($breakpoint, $base-font-size);
  }
  @else {
    @each $bkpt in $breakpoint {
      $status: bp-generate($bkpt, $base-font-size);
    }
  }

  @if breakpoint-prefix-needed() {
    // We will need to run this several times to do each prefixing.
    $query:  bp-print();

    @each $prefix in $breakpoint-prefixes {
      $prefixed_query: bp-print($prefix);

      $query: $query + unquote(", #{$prefixed_query}");
    }
  }
  @else {
    // This is a simple media query without prefixing.
    $query:  bp-print();
  }

  $no-query: breakpoint-get-context('no query');

  // Print out the query.
  @if $breakpoint-no-queries {
    @if $no-query {
      @if $breakpoint-no-query-wrappers and type-of($no-query) == string {
        #{$no-query} & {
          @content;
        }
      }
      @else {
        @content;
      }
    }
  }
  @else {
    @if $breakpoint-no-query-wrappers and type-of($no-query) == string {
      #{$no-query} & {
        @content;
      }
    }
    @if $query {
      @media #{$query} {
        @content;
      }
    }
  }

  // Final context reset.
  @include TXkgcmVzZXQhIEdvIGF3YXkh;
}
