@use "sass:map";
@use "sass:list";
@use 'sass:meta';
@forward 'sass:map';

$private-sassy-maps-suppress-warnings: true;

//////////////////////////////
// Map Get Deep
//
// Given a map and a list of keys, find the value at the given key
//////////////////////////////
@function get-deep($map, $keys...) {
  @if list.length($keys) == 1 {
    $keys: list.nth($keys, 1);
  }
  $warn: "#{list.nth($keys, 1)}";
  $length: list.length($keys);
  $get: map.get($map, list.nth($keys, 1));

  @if $length > 1 {
    @for $i from 2 through $length {
      @if $get != null and meta.type-of($get) == 'map' {
        $warn: $warn + "->#{list.nth($keys, $i)}";
        $get: map.get($get, list.nth($keys, $i));

        @if $get == null {
          @return get-deep-warning($warn, $get, list.nth($keys, $i));
        }
      }
      @else {
        @return get-deep-warning($warn, $get, list.nth($keys, $i));
      }
    }
  }

  @return $get;
}

//////////////////////////////
// Map Get Deep Warning
//
// Displays a warning if the retrieved value is `null`
//////////////////////////////
@function get-deep-warning($warn, $get, $key) {
  @if $private-sassy-maps-suppress-warnings == false {
    @if $get == null {
      @warn "Map has no value for key search `#{$warn}`";
    }
    @else if meta.type-of($get) != 'map' {
      @warn "Non-map value found for key search `#{$warn}`, cannot search for key `#{$key}`";
    }
  }
  @return null;
}

@function get-keys($keys, $counter) {
  $return: ();
  @for $i from 1 to $counter {
    $return: list.append($return, list.nth($keys, $i));
  }
  @return $return;
}

@function set($map, $key, $value) {
  @return map.merge($map, ($key: $value));
}

@function set-deep($map, $keys, $value) {
  // $private-sassy-maps-suppress-warnings: true !global;
  $length: list.length($keys);
  $get-keys: ();
  $map-level: ();


  @if $length > 1 {
    $get-keys: get-keys($keys, $length);
    $map-level: get-deep($map, $get-keys);
  }
  $merge: (list.nth($keys, $length): $value);
  @if $map-level {
    $merge: map.merge($map-level, $merge);
  }
  @for $i from ($length * -1 + 1) through -1 {
    $j: abs($i);
    $key: list.nth($keys, $j);
    //
    // @debug $get-keys;
    @if $j > 1 {
      $get-keys: get-keys($keys, $j);
      $map-level: get-deep($map, $get-keys);
      @if $map-level {
        $merge: map.merge($map-level, ($key: $merge));
      }
      @else {
        $merge: ($key: $merge);
      }
    }
    @else {
      $merge: ($key: $merge);
    }
  }
  $map: map.merge($map, $merge);

  // $private-sassy-maps-suppress-warnings: false !global;
  @return $map;
}

@function to-string($map) {
  @return inspect($map);
}