@use 'map';

$Memoization-Table: () !default;

//////////////////////////////
// Memoization Set
//////////////////////////////
@function set($module, $key, $value) {
  $module: "#{$module}";
  $key: "#{$key}";

  $Memoization-Table: map.set-deep($Memoization-Table, ($module $key), $value) !global;

  @return true;
}

@mixin set($module, $key, $value) {
  $holder: set($module, $key, $value);
}

//////////////////////////////
// Memoization Get
//////////////////////////////
@function get($module, $key) {
  $module: "#{$module}";
  $key: "#{$key}";
  $private-sassy-maps-suppress-warnings: true !global;
  $result: map.get-deep($Memoization-Table, $module, $key);
  $private-sassy-maps-suppress-warnings: false !global;
  @return $result;
}