//////////////////////////////
// Print the whole breakpoint
//////////////////////////////
@function bp-print($prefix: false) {
  $query: '' !default;

  $media:  breakpoint-get-context('media');

  // If media hasn't been set, then we set to default.
  @if $media == false {
    $media: $breakpoint-default-media;
  }

  @if $media != 'all' or $breakpoint-force-media-all {
    // Print out the media bit first.
    $query: unquote("#{$media} ");
  }

  @each $breakpoint in $TXkgdmFyaWFibGUhIEdvIGF3YXkh {
    $feature: first_value_of($breakpoint);

    @if $feature != 'media' and $feature != 'no query' {

      $value: nth($breakpoint, 2);

      @if $query != '' {
        $query: $query + unquote("and ");
      }
      $query: $query + bp-feature-print($feature, $value, $prefix);

    }
  }

  @return $query;
}

//////////////////////////////
// Print a single feature
//////////////////////////////
@function bp-feature-print($feature, $value, $prefix) {

  @if (featureExists($feature, $breakpoint-prefixed-queries) and $prefix) {
    $prefix_feature: breakpoint-experimental($feature, $prefix);
    @return unquote("(#{$prefix_feature}: #{$value}) ");
  }
  @else if $feature != 'monochrome' {
    @return unquote("(#{$feature}: #{$value}) ");
  }
  @else {
    @return unquote("(#{$value}) ");
  }
}
