@use 'variables';
@use '../../sass/breakpoint';

/*
 * Single value with feature
 * $feature-first : #{variables.$feature-first};
 * $value-first : #{variables.$value-first};
 * $arbitrary-feature : #{variables.$arbitrary-feature};
 * $feature-value-both-strings : #{variables.$feature-value-both-strings};
 */

.foo {
  @include breakpoint.breakpoint(variables.$feature-first) {
    content: '$feature-first';
    content: '@media (height: 500px)';
  }
  @include breakpoint.breakpoint(variables.$value-first) {
    content: '$value-first';
    content: '@media (height: 500px)';
  }
  @include breakpoint.breakpoint(variables.$arbitrary-feature) {
    content: '$arbitrary-feature';
    content: '@media (lion: 500px)';
  }
  @include breakpoint.breakpoint(variables.$feature-value-both-strings) {
    content: '$feature-value-both-strings';
    content: '@media (orientation: portrait)';
  }

  @include breakpoint.mq(variables.$feature-first) {
    content: '$feature-first';
    content: '@media (height: 500px)';
  }
  @include breakpoint.mq(variables.$value-first) {
    content: '$value-first';
    content: '@media (height: 500px)';
  }
  @include breakpoint.mq(variables.$arbitrary-feature) {
    content: '$arbitrary-feature';
    content: '@media (lion: 500px)';
  }
  @include breakpoint.mq(variables.$feature-value-both-strings) {
    content: '$feature-value-both-strings';
    content: '@media (orientation: portrait)';
  }
}

// @include settings.breakpoint-set('to ems', true);
// .bar {
//   @include breakpoint.breakpoint(variables.$feature-first) {
//     content: '$feature-first';
//     content: '@media (height: 31.25em)';
//   }
//   @include breakpoint.breakpoint(variables.$value-first) {
//     content: '$value-first';
//     content: '@media (height: 31.25em)';
//   }
//   @include breakpoint.breakpoint(variables.$arbitrary-feature) {
//     content: '$arbitrary-feature';
//     content: '@media (lion: 31.25em)';
//   }

//   @include breakpoint.mq(variables.$feature-first) {
//     content: '$feature-first';
//     content: '@media (height: 31.25em)';
//   }
//   @include breakpoint.mq(variables.$value-first) {
//     content: '$value-first';
//     content: '@media (height: 31.25em)';
//   }
//   @include breakpoint.mq(variables.$arbitrary-feature) {
//     content: '$arbitrary-feature';
//     content: '@media (lion: 31.25em)';
//   }
// }
