@use 'variables';
@use '../../sass/breakpoint';


/*
 * Set min/max of feature
 * if there are two numbers and a feature
 * $feature-min-max : #{variables.$feature-min-max};
 * $min-max-feature : #{variables.$min-max-feature};
 * $arbitrary-feature-min-max : #{variables.$arbitrary-feature-min-max};
 */
.min-max-feature {
  @include breakpoint.breakpoint(variables.$feature-min-max) {
    content: '$feature-min-max';
    content: '@media (min-height: 300px) and (max-height: 700px)';
  }
  @include breakpoint.breakpoint(variables.$min-max-feature) {
    content: '$min-max-feature';
    content: '@media (min-height: 300px) and (max-height: 700px)';
  }
  @include breakpoint.breakpoint(variables.$arbitrary-feature-min-max) {
    content: '$arbitrary-feature-min-max';
    content: '@media (min-lion: 300px) and (max-lion: 700px)';
  }

  @include breakpoint.mq(variables.$feature-min-max) {
    content: '$feature-min-max';
    content: '@media (min-height: 300px) and (max-height: 700px)';
  }
  @include breakpoint.mq(variables.$min-max-feature) {
    content: '$min-max-feature';
    content: '@media (min-height: 300px) and (max-height: 700px)';
  }
  @include breakpoint.mq(variables.$arbitrary-feature-min-max) {
    content: '$arbitrary-feature-min-max';
    content: '@media (min-lion: 300px) and (max-lion: 700px)';
  }
}