@use 'variables';
@use '../../sass/breakpoint';


/*
 * Multidimensional lists,
 * assume each item is a feature value pair
 * $multidimensional : #{variables.$multidimensional};
 */
.multidimensional {
  @include breakpoint.breakpoint(variables.$multidimensional) {
    content: '$multidimensional';
    content: '@media (height: 500px) and (orientation: portrait)';
  }

  @include breakpoint.mq(variables.$multidimensional) {
    content: '$multidimensional';
    content: '@media (height: 500px) and (orientation: portrait)';
  }
}
/* @include breakpoint-set('to ems', true); */
@include settings.breakpoint-set('to ems', true);
.multidimensional-to-ems {
  @include breakpoint.breakpoint(variables.$multidimensional) {
    content: '$multidimensional';
    content: '@media (height: 31.25em) and (orientation: portrait)';
  }

  @include breakpoint.mq(variables.$multidimensional) {
    content: '$multidimensional';
    content: '@media (height: 31.25em) and (orientation: portrait)';
  }
}
