@import 'variables';
/*
 * Multidimensional lists,
 * assume each item is a feature value pair
 * $multidimensional : #{$multidimensional};
 */
.multidimensional {
  @include breakpoint($multidimensional) {
    content: '$multidimensional';
    content: '@media (height: 500px) and (orientation: portrait)';
  }

  @include mq($multidimensional) {
    content: '$multidimensional';
    content: '@media (height: 500px) and (orientation: portrait)';
  }
}
/* @include breakpoint-set('to ems', true); */
@include breakpoint-set('to ems', true);
.multidimensional-to-ems {
  @include breakpoint($multidimensional) {
    content: '$multidimensional';
    content: '@media (height: 31.25em) and (orientation: portrait)';
  }

  @include mq($multidimensional) {
    content: '$multidimensional';
    content: '@media (height: 31.25em) and (orientation: portrait)';
  }
}
