@use 'variables';
@use '../../stylesheets/breakpoint';

/*
 * One-sided features (ie. monochrome)
 * $monochrome : #{variables.$monochrome};
 * $monochrome-double : #{variables.$monochrome-double};
 * $multidimensional-plus-one-sided : #{variables.$multidimensional-plus-one-sided};
 */
.one-sided {
  @include breakpoint.breakpoint(variables.$monochrome) {
    content: '$monochrome';
    content: '@media (monochrome)';
  }
  @include breakpoint.breakpoint(variables.$monochrome-double) {
    content: '$monochrome-double';
    content: '@media (monochrome) and (min-width: 300px)';
  }
  @include breakpoint.breakpoint(variables.$multidimensional-plus-one-sided) {
    content: '$multidimensional-plus-one-sided';
    content: '@media (height: 500px) and (orientation: portrait) and (monochrome)';
  }

  @include breakpoint.mq(variables.$monochrome) {
    content: '$monochrome';
    content: '@media (monochrome)';
  }
  @include breakpoint.mq(variables.$monochrome-double) {
    content: '$monochrome-double';
    content: '@media (monochrome) and (min-width: 300px)';
  }
  @include breakpoint.mq(variables.$multidimensional-plus-one-sided) {
    content: '$multidimensional-plus-one-sided';
    content: '@media (height: 500px) and (orientation: portrait) and (monochrome)';
  }
}
