@use 'variables';
@use '../../sass/breakpoint';


/*
 * Legacy syntax
 */
@include settings.breakpoint-set('legacy syntax', true);

.legacy {
  @include breakpoint.breakpoint(variables.$legacy) {
    content: '$legacy';
    content: '@media not screen and (min-width: 500px)';
  }

  @include breakpoint.mq(variables.$legacy) {
    content: '$legacy';
    content: '@media not screen and (min-width: 500px)';
  }
}
