@use 'variables';
@use '../../stylesheets/breakpoint';

/*
 * Media features (ie. tv)
 * $simple-media : #{variables.$simple-media};
 * $media-plus-default : #{variables.$media-plus-default};
 * $media-plus-fence : #{variables.$media-plus-fence};
 * $media-only : #{variables.$media-only};
 * $media-not : #{variables.$media-not};
 * $media-not-plus-fenced : #{variables.$media-not-plus-fenced};
 */

.media {
  @include breakpoint.breakpoint(variables.$simple-media) {
    content: '$simple-media';
    content: '@media tv';
  }
  @include breakpoint.breakpoint(variables.$media-plus-default) {
    content: '$media-plus-default';
    content: '@media not tv and (min-width: 500px)';
  }
  @include breakpoint.breakpoint(variables.$media-plus-fence) {
    content: '$media-plus-fence';
    content: '@media tv and (min-width: 500px) and (max-width: 700px)';
  }
  @include breakpoint.breakpoint(variables.$media-only) {
    content: '$media-only';
    content: '@media only print';
  }
  @include breakpoint.breakpoint(variables.$media-not) {
    content: '$media-not)';
    content: '@media not print';
  }
  @include breakpoint.breakpoint(variables.$media-not-plus-fenced) {
    content: '$media-not-plus-fenced';
    content: '@media not print and (min-width: 500px) and (max-width: 700px)';
  }

  @include breakpoint.mq(variables.$simple-media) {
    content: '$simple-media';
    content: '@media tv';
  }
  @include breakpoint.mq(variables.$media-plus-default) {
    content: '$media-plus-default';
    content: '@media not tv and (min-width: 500px)';
  }
  @include breakpoint.mq(variables.$media-plus-fence) {
    content: '$media-plus-fence';
    content: '@media tv and (min-width: 500px) and (max-width: 700px)';
  }
  @include breakpoint.mq(variables.$media-only) {
    content: '$media-only';
    content: '@media only print';
  }
  @include breakpoint.mq(variables.$media-not) {
    content: '$media-not)';
    content: '@media not print';
  }
  @include breakpoint.mq(variables.$media-not-plus-fenced) {
    content: '$media-not-plus-fenced';
    content: '@media not print and (min-width: 500px) and (max-width: 700px)';
  }
}
