//////////////////////////////
// Default Variables
//////////////////////////////
// Default Features
$breakpoint-default-media:    'all';
$breakpoint-default-feature:  'min-width';
$breakpoint-default-pair:     'width';

// Default Transforms
$breakpoint-force-media-all:    false;
$breakpoint-to-ems:             false;
$breakpoint-resolution:         true;

// Default No Query Options
$breakpoint-no-queries:       false;
$breakpoint-no-query-wrappers: false;

@mixin breakpoint($query) {
  @debug $query;

  @content;
}