//////////////////////////////
// Default Variables
//////////////////////////////
// Default Features
$breakpoint-default-media:    'all';
$breakpoint-default-feature:  'min-width';
$breakpoint-default-pair:     'width';

// Default Transforms
$breakpoint-force-media-all:    false;
$breakpoint-to-ems:             false;
$breakpoint-resolution:         true;

// Default No Query Options
$breakpoint-no-queries:       false;
$breakpoint-no-query-wrappers: false;

//////////////////////////////
// Imports
//////////////////////////////
@import 'breakpoint/context';
@import 'breakpoint/helpers';
@import 'breakpoint/parsers';

//////////////////////////////
// Breakpoint Mixin
//////////////////////////////

@mixin breakpoint($query) {
  // Internal Variables
  $query-string: '';

  // Test to see if it's a comma-separated list
  $or-list: is-breakpoint-list($query);


  @if ($or-list != false) {
    $length: length($query);
    @for $i from 1 through $length {
      @if $i == 1 {
        $query-string: breakpoint-parse(nth($query, $i));
      }
      @else {
        $query-string: $query-string + ', ' + breakpoint-parse(nth($query, $i));
      }
    }
  }
  @else {
    $query-string: breakpoint-parse($query);
  }

  // Print Out Query String
  @media #{$query-string} {
    @content;
  }

}