@media (min-width: 31.25em) {
  .foo {
    background-color: crimson;
    width: 31.25em;
    background: purple;
  }
}
@media (min-width: 30em) {
  .foo {
    background-color: crimson;
    background: red;
  }
}
@media (min-height: 18.75em) and (max-height: 25em) and (min-width: 31.25em) and (max-width: 37.5em) and (monochrome) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) and (-webkit-max-device-pixel-ratio: 2) and (min-width: 43.75em) and (resolution: 192dpi) {
  .foo {
    background: bkptSuper;
    breakpoint-get-context-min-width: 31.25em;
    breakpoint-get-context-max-width: 37.5em;
    breakpoint-get-context-max-height: 25em;
    breakpoint-get-context-height: false;
    breakpoint-get-context-monochrome: monochrome;
    breakpoint-get-context-orientation: portrait;
    breakpoint-get-context-resolution: 192dpi;
    breakpoint-get-context--webkit-max-device-pixel-ratio: 2;
  }
}
@media (min-height: 18.75em) and (max-height: 25em) and (min-width: 31.25em) and (max-width: 37.5em) and (monochrome) and (orientation: portrait) and (min--moz-device-pixel-ratio: 1) and (max--moz-device-pixel-ratio: 2) and (min-width: 43.75em) and (resolution: 192dpi) {
  .foo {
    background: bkptSuper;
    breakpoint-get-context-min-width: 31.25em;
    breakpoint-get-context-max-width: 37.5em;
    breakpoint-get-context-max-height: 25em;
    breakpoint-get-context-height: false;
    breakpoint-get-context-monochrome: monochrome;
    breakpoint-get-context-orientation: portrait;
    breakpoint-get-context-resolution: 192dpi;
    breakpoint-get-context--webkit-max-device-pixel-ratio: 2;
  }
}
@media (min-width: 18.75em) {
  .foo {
    background: minwidth;
  }
}
@media (height: 18.75em) {
  .foo {
    background: valuepair;
  }
}
@media (monochrome) {
  .foo {
    background: mono;
  }
}
@media (-webkit-device-pixel-ratio: 1) {
  .foo {
    background: fail1;
  }
}
@media (-moz-device-pixel-ratio: 1) {
  .foo {
    background: fail1;
  }
}
@media (-webkit-min-device-pixel-ratio: 1) and (-webkit-max-device-pixel-ratio: 2) {
  .foo {
    background: fail2;
  }
}
@media (min--moz-device-pixel-ratio: 1) and (max--moz-device-pixel-ratio: 2) {
  .foo {
    background: fail2;
  }
}
@media (min-width: 18.75em) and (min-height: 12.5em) and (max-height: 18.75em) {
  .foo {
    background: fail3;
  }
}
@media (min-width: 18.75em) and (-webkit-min-device-pixel-ratio: 1) and (-webkit-max-device-pixel-ratio: 2) {
  .foo {
    background: fail4;
  }
}
@media (min-width: 18.75em) and (min--moz-device-pixel-ratio: 1) and (max--moz-device-pixel-ratio: 2) {
  .foo {
    background: fail4;
  }
}
@media (min-height: 6.25em) and (max-height: 12.5em) {
  .foo {
    background: fail5;
  }
}
@media (min-width: 18.75em) and (monochrome) {
  .foo {
    background: fail6;
  }
}
