@media (max-width: 43.75em) and (orientation: portrait) {
  .foo {
    background: bonga;
  }
}
@media (min-height: 18.75em) and (max-height: 25em) and (min-width: 31.25em) and (max-width: 37.5em) and (monochrome) and (orientation: portrait) and (min-resolution: 96dpi) and (max-resolution: 192dpi) and (min-width: 43.75em) and (resolution: 192dpi) {
  .foo {
    background: banana;
  }
}
