- @title = "Breakpoint"

:markdown
  These elements will change background colors with different media query criteria are met.

.example.foo
.example.bar
.example.baz
.example.omg
.example.wtf
.example.bbq
.example.zztop
.example.elp
.example.csny
.example.rhcp
.example.tgif
.example.snl
