// PRINT STYLES

// Based heavily on the work of:
// Paul Irish & Divya Manian: http://html5boilerplate.com/
// And many others, less directly...

// Print Defaults --------------------------------------------------------------
@media print {
  * {
    background: transparent !important;
    color: $black !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }
  // Black prints faster: h5bp.com/s
  body {
    font-family: $font-serifs !important;
    font-size: 12pt !important;
  }
  #{headers(all)} {
    font-family: $font-serifs !important;
  }
  a {
    text-decoration: underline;
    border-bottom: none !important;
    &:visited {
      text-decoration: underline;
    }
    &[href]:after {
      content: " (" attr(href) ")";
    }
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  .ir a:after {
    content: "";
  }
  a {
    &[href^="javascript:"]:after, &[href^="#"]:after {
      content: "";
    }
  }
  // Don't show links for images, or Javascript/internal links
  pre, blockquote {
    border: 1px solid #999999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  // h5bp.com/t
  tr {
    page-break-inside: avoid;
  }
  img {
    page-break-inside: avoid;
    max-width: 100% !important;
  }
  @page {
    margin: 0.5cm;
  }

  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }
  h2, h3 {
    page-break-after: avoid;
  }
}
