// path to local mixin
@import "../../stylesheets/breakpoint";

$breakpoint-to-ems: true;

//$breakpoint-default-feature: min-width !default;

// create $breakpoint variables like so
// assume $breakpoint-default-feature if only a number
$breakpoint1: 500px;
$breakpoint2: 30em;

// single value with feature
$bkpt3: 500px 'height';
$bkpt4: 'lion' 500px;
$bkptSt: portrait orientation;

// set min-width/max-width if both values are numbers
$breakpoint3: 500px 700px;
// set min/max of feature if there are two numbers and a feature
$breakpoint4: 300px 700px height;

// failing bkpt
$bkptFail: 300px 700px lion;

// if one value is a string, assume a feature/value pair
$breakpoint5: min-width 700px;
$breakpoint6: max-width 700px;

// for multidimensional lists, assume each item is a feature value pair
$breakpoint7: max-width 700px, orientation portrait;

$bkptSuper: 300px 400px 'height', 500px 600px, monochrome, orientation portrait, 1 2 device-pixel-ratio, 700px, 2 device-pixel-ratio;

// handle one-sided features (ie. monochrome)
$breakpoint8: max-width 700px, orientation portrait, monochrome;
$breakpoint9: monochrome;

// device-pixel-ratio conversion silliness
$breakpoint10: 1.5 1 device-pixel-ratio;
$breakpoint11: 2 min-device-pixel-ratio;
$breakpoint12: 3 -webkit-device-pixel-ratio;




// Use it

.foo {
//  @include breakpoint($breakpoint1) {
//      background-color: crimson;
//    }
//    @include breakpoint($breakpoint2) {
//      background-color: crimson;
//    }
//    @include breakpoint($bkpt3) {
//      background-color: crimson;
//    }
//    @include breakpoint($bkpt4) {
//      background-color: crimson;
//    }
//  @include breakpoint($breakpoint3) {
//    background: red;
//  }
//  @include breakpoint($breakpoint4) {
//    background: green;
//  }
//  @include breakpoint($breakpoint10) {
//    background: yellow;
//  }
//  @include breakpoint($bkptSt) {
//    background: blue;
//  }
//  @include breakpoint($bkptFail) {
//    background: yellow;
//  }
  @include breakpoint($breakpoint7) {
    background: bonga;
  }
  @include breakpoint($bkptSuper) {
    background: banana;
  }
}