//////////////////////////////
// Import Pieces
//////////////////////////////
@use "triple/default";
@use 'sass:meta';
@use 'sass:list';

@function parse($feature, $empty-media, $first) {
  $parsed: '';
  $leader: '';

  // If we're forcing
  @if not ($empty-media) or not ($first) {
    $leader: 'and ';
  }

  // separate the string features from the value numbers
  $string: null;
  $numbers: null;
  @each $val in $feature {
    @if meta.type-of($val) == string {
      $string: $val;
    }
    @else {
      @if meta.type-of($numbers) == 'null' {
        $numbers: $val;
      }
      @else {
        $numbers: list.append($numbers, $val);
      }
    }
  }

  $parsed: default.parse($string, list.nth($numbers, 1), list.nth($numbers, 2));

  @return $leader + $parsed;

}
